{% extends "layout.html" %}
{% block center_content %}

	<div class="media">
		<div class="media-body">
				<h2 class="account-heading">Welcome {{ current_user.username}}!</h2>
			</div>
		</div>
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					Account Info
				</legend>
				<div class="form-group">
					{{ form.username.label(class="form-control-label")}}
					{% if form.username.errors %}
						{{ form.username(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class="form-control form-control-lg")}}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.fav_team.label(class="form-control-label")}}
					{% if form.fav_team.errors %}
						{{ form.fav_team(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.fav_team.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.fav_team(class="form-control form-control-lg")}}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.fav_player.label(class="form-control-label")}}
					{% if form.fav_player.errors %}
						{{ form.fav_player(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.fav_player.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.fav_player(class="form-control form-control-lg")}}
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>

		</form>
		<div>
			<legend class="border-bottom mb-4">
					Analysis
			</legend>
			<div class="row">
				<label class="form-control-label")>Favorite Player:</label>
			</div>
			<div class="row">
				<div class="col-sm"><a href="{{url_for('fav_player_info')}}" class="btn btn-outline-info">Your Favorite Player Stat</a></div>
				<div class="col-sm"><a href="{{url_for('fav_player_comp')}}" class="btn btn-outline-info">Comparing Your Favorite Player to Another Player</a></div>
			</div>
			<div class="row">
				<label class="form-control-label")>Favorite Team:</label>
			</div>
			<div class="row">
				<div class="col-sm"><a href="{{url_for('fav_team_info')}}" class="btn btn-outline-info">Your Favorite Team Stat</a></div>
				<div class="col-sm"><a href="{{url_for('fav_team_comp')}}" class="btn btn-outline-info">Comparing Your Favorite Team to Another Team</a></div>
			</div>
		</div>

		

{% endblock center_content %}