{% extends "layout.html" %}
{% block center_content %}


		<div class="content-section">
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">
							Comparing Players!
					</legend>
					<div>
						<label class="form-control-label">My Favorite Player</label>
						<div class="form-control form-control-lg">{{fav_player}}</div>
					</div>
					<div class="form-group">
						{{ form.comp_player.label(class="form-control-label")}}
						{% if form.comp_player.errors %}
							{{ form.comp_player(class="form-control form-control-lg is-invalid")}}
							<div class="invalid-feedback">
								{% for error in form.comp_player.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.comp_player(class="form-control form-control-lg")}}
						{% endif %}
					</div>
				</fieldset>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline-info") }}
				</div>
			</form>
		</div>

{% endblock center_content %}