{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-9">
      <h1>Top Players Stats</h1>
    </div>
    <div class="col-sm"></div>
</div>

<div class="row">
    <div class="col-md"></div>
    <div class="col-md-3">
      <div class="container">
        <legend style="font-size: 18px;" class="border-bottom mb-4">
          Points Per Game
        </legend>
        <ol start="1">
          {% for name, stat in p_ppg %}
          <li style="font-size: 14px;">{{name}} {{stat}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container">
        <legend style="font-size: 18px;" class="border-bottom mb-4">
          Rebounds Per Game
        </legend>
        <ol start="1">
          {% for name, stat in p_rpg %}
          <li style="font-size: 14px;">{{name}} {{stat}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container">
        <legend style="font-size: 18px;" class="border-bottom mb-4">
          Assists Per Game
        </legend>
        <ol start="1">
          {% for name, stat in p_apg %}
          <li style="font-size: 14px;">{{name}} {{stat}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
  <div class="col-md"></div>
</div>

<div class="row">
    <div class="col-md"></div>
    <div class="col-md-3">
      <div class="container">
        <legend style="font-size: 18px;" class="border-bottom mb-4">
          Blocks Per Game
        </legend>
        <ol start="1">
          {% for name, stat in p_bpg %}
          <li style="font-size: 14px;">{{name}} {{stat}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container">
        <legend style="font-size: 18px;" class="border-bottom mb-4">
          Steals Per Game
        </legend>
        <ol start="1">
          {% for name, stat in p_spg %}
          <li style="font-size: 14px;">{{name}} {{stat}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container">
        <legend style="font-size: 18px;" class="border-bottom mb-4">
          Turnovers Per Game
        </legend>
        <ol start="1">
          {% for name, stat in p_tpg %}
          <li style="font-size: 14px;">{{name}} {{stat}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
  <div class="col-md"></div>
</div>

<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-9">
      <h1>Top Team Stats</h1>
    </div>
    <div class="col-sm"></div>
</div>

<div class="row">
    <div class="col-md"></div>
    <div class="col-md-3">
      <div class="container">
        <legend style="font-size: 18px;" class="border-bottom mb-4">
          Points Per Game
        </legend>
        <ol start="1">
          {% for name, stat in t_ppg %}
          <li style="font-size: 14px;">{{name}} {{stat}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container">
        <legend style="font-size: 18px;" class="border-bottom mb-4">
          Points Allowed Per Game
        </legend>
        <ol start="1">
          {% for name, stat in t_appg %}
          <li style="font-size: 14px;">{{name}} {{stat}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container">
        <legend style="font-size: 18px;" class="border-bottom mb-4">
          Pointed Differential
        </legend>
        <ol start="1">
          {% for name, stat in t_ptsdiff %}
          <li style="font-size: 14px;">{{name}} {{stat}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
  <div class="col-md"></div>
</div>

<div class="row">
    <div class="col-md"></div>
    <div class="col-md-3">
      <div class="container">
        <legend style="font-size: 18px;" class="border-bottom mb-4">
          Offensive Efficiency
        </legend>
        <ol start="1">
          {% for name, stat in t_oeff %}
          <li style="font-size: 14px;">{{name}} {{stat}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container">
        <legend style="font-size: 18px;" class="border-bottom mb-4">
          Defensive Efficiency
        </legend>
        <ol start="1">
          {% for name, stat in t_deff %}
          <li style="font-size: 14px;">{{name}} {{stat}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container">
        <legend style="font-size: 18px;" class="border-bottom mb-4">
          Pace
        </legend>
        <ol start="1">
          {% for name, stat in t_pace %}
          <li style="font-size: 14px;">{{name}} {{stat}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
  <div class="col-md"></div>
</div>

{% endblock content %}