{% extends "layout.html" %}
{% block center_content %}

<div class="content-section">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">
					Comparing Players!
			</legend>
			<div class="form-group">
				{{ form.player1.label(class="form-control-label")}}
				{# {{ form.player1(class="form-control form-control-lg")}} #}
				{% if form.player1.errors %}
					{{ form.player1(class="form-control form-control-lg is-invalid")}}
					<div class="invalid-feedback">
						{% for error in form.player1.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.player1(class="form-control form-control-lg")}}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.player2.label(class="form-control-label")}}
				{# {{ form.player2(class="form-control form-control-lg")}} #}
				{% if form.player2.errors %}
					{{ form.player2(class="form-control form-control-lg is-invalid")}}
					<div class="invalid-feedback">
						{% for error in form.player2.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.player2(class="form-control form-control-lg")}}
				{% endif %}
			</div>
		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
	</form>
</div>

{% endblock center_content %}