{% extends "layout.html" %}
{% block center_content %}

<form class="form-inline" method="POST">
	<div class="form-group">
		<div class="input-group">
			<select name="team_name1" class="selectpicker form-control">
				{% for index, team_name in teams %}
		  		<option value="{{index}}">{{team_name}}</option>
		  		{% endfor %}
			</select>
			<select name="team_name2" class="selectpicker form-control">
				{% for index, team_name in teams %}
		  		<option value="{{index}}">{{team_name}}</option>
		  		{% endfor %}
			</select>
		</div>
		<button type="submit" class="btn btn-default">Compare!</button>
	</div>
</form>

{% endblock center_content %}